<div class="auth-page-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>Recuperar Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="description-text">
        Ingresa tu dirección de email y te enviaremos un enlace para restablecer tu contraseña.
      </p>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="tu@email.com" formControlName="email" required autocomplete="email">
          <mat-error *ngIf="fc['email'].touched && fc['email'].errors?.['required']">
            Email es requerido.
          </mat-error>
          <mat-error *ngIf="fc['email'].touched && fc['email'].errors?.['email']">
            Formato de email inválido.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid || isLoading" class="full-width">
          <span *ngIf="!isLoading">Enviar Enlace</span>
          <mat-spinner *ngIf="isLoading" diameter="24" style="margin: 0 auto;"></mat-spinner>
        </button>
      </form>
      <div class="extra-links">
          <a routerLink="/login">Volver a Iniciar Sesión</a>
      </div>
    </mat-card-content>
    <!-- Opcional: Si quieres un footer para errores directamente en la tarjeta -->
    <!-- <div *ngIf="errorMessage" class="error-message-container">
      <p class="error-text">{{ errorMessage }}</p>
    </div> -->
  </mat-card>
</div>